@font-face {
    font-family: "Outfit";
    src: url("/fonts/outfit-regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: "DIN Condensed";
    src: url("/fonts/din-condensed-bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}
@font-face {
    font-family: "Core Sans D75";
    src: url("/fonts/core-sans-d75-black.woff2") format("woff2");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}